<template>
  <div id="btn">
    <button class="btn btn-start" v-on:click="start">Start</button>
    <button class="btn btn-stop" v-on:click="stop">Stop</button>
  </div>
</template>

<script>
export default {
  name: "Button",
  props: ["wsStart", "wsStop", 'process', 'mechanism'],
  methods: {
    start: function () {
      if (this.process === 'all') {
        this.wsStart.send(JSON.stringify({type:'all', action: 'start'}))
      } else if (this.process === 'mechanism') {
        this.wsStart.send(JSON.stringify({type:'mechanism', action: 'start', mechanism: this.mechanism}))
      }
    },
    stop: function () {
      if (this.process === 'all') {
        this.wsStop.send(JSON.stringify({type:'all', action: 'stop'}))
      } else if (this.process === 'mechanism') {
        this.wsStop.send(JSON.stringify({type:'mechanism', action: 'stop', mechanism: this.mechanism}))
      }
    }
  }
}
</script>

<style scoped>
#btn {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 5px;
  margin-bottom: 5px;
}

.btn {
  justify-content: center;
  color: white;
  width: 70px;
  height: 20px;
  border-radius: 5px;
  transition-duration: 0.4s;
  cursor: pointer;
}

.btn-start {
  background-color: white;
  border: 2px solid #4CAF50;
  color: black;
}

.btn-start:hover {
  background-color: #4CAF50;
  color: white;
}

.btn-stop {
  background-color: white;
  border: 2px solid #f44336;
  color: black;
}

.btn-stop:hover {
  background-color: #f44336;
  color: white;
}
</style>