<template>
  <div id="lamp">
    <div class="lamp" v-bind:style="lampStyle"></div>
    <label>{{ lamp.usage }}</label>
  </div>
</template>

<script>
export default {
  name: "Lamp",
  props: ["lamp", "mechData"],
  data: function () {
    return {
      lampStyle: {
        backgroundColor: 'lightgray'
      },
    }
  },
  watch: {
    mechData: function (){
      if (this.mechData != null && this.mechData[this.lamp.usage]) {
        this.lampStyle.backgroundColor = 'green'
      } else {
        this.lampStyle.backgroundColor = 'red'
      }
    }
  }
}
</script>

<style scoped>
#lamp {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5px;
  margin-bottom: 5px;
}

.lamp {
  width: 30px;
  height: 30px;
  border: 1px black solid;
  border-radius: 50%;
}
</style>