<template>
  <div class="separator">
    <h3>{{mechanism}}</h3>
    <Lamp v-for="lamp in lamps" v-bind:key="lamp.id" v-bind:lamp="lamp"
          v-bind:mech-data="mechData != null ? mechData[mechanism] : {}"></Lamp>
    <Button v-bind:ws-start="wsStart" v-bind:ws-stop="wsStop" process="mechanism" v-bind:mechanism="mechanism"></Button>
  </div>
</template>

<script>
import Lamp from "@/components/Lamp";
import Button from "@/components/Button";

export default {
  name: "Separator",
  components: {Lamp, Button},
  data: function () {
    return {
      lamps: [
        {id: 1, usage: "temp_relay"},
        {id: 2, usage: "work"}
      ]
    }
  },
  props: ['mechData', 'mechanism', 'wsStart', 'wsStop']
}
</script>

<style scoped>
.separator {
  text-align: center;
  margin: 5px;
  width: 200px;
  border: 1px black solid;
}
</style>