<template>
  <div id="app">
    <div class="mechanism">
      <Conveyor v-bind:mech-data="mechData" mechanism="conveyor_1" v-bind:ws-start="wsSendStart" v-bind:ws-stop="wsSendStop"></Conveyor>
      <Separator v-bind:mech-data="mechData" mechanism="separator_1" v-bind:ws-start="wsSendStart" v-bind:ws-stop="wsSendStop"></Separator>
    </div>
    <div class="main-btn">
      <h3>Whole flow</h3>
      <Button v-bind:ws-start="wsSendStart" v-bind:ws-stop="wsSendStop" process="all"></Button>
    </div>
  </div>
</template>

<script>
import Conveyor from "@/components/Conveyor";
import Separator from "@/components/Separator";
import Button from "@/components/Button";

export default {
  name: 'App',
  components: {Button, Separator, Conveyor},
  data: function () {
    return {
      wsSendStart: null,
      wsSendStop: null,
      wsReceive: null,
      mechData: null
    }
  },
  created: function () {
    this.wsSendStart = new WebSocket("ws://192.168.43.154:8201/")
    this.wsSendStop = new WebSocket("ws://192.168.43.154:8202/")
    this.wsReceive = new WebSocket("ws://192.168.43.154:8200/")
    this.wsReceive.onmessage = e => this.getMechData(e)
  },
  methods: {
    getMechData(e) {
      this.mechData = JSON.parse(e.data)
    }
  }
}
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
  margin-top: 60px;
  display: flex;
  flex-direction: column;
}

.mechanism {
  display: flex;
  flex-direction: row;
}

.main-btn {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

</style>
